*.QIK
*.ali
*.o

**/lock/
**/tmp/
**/__pycache__/
**/python/*.pyc

**/python/setup_teardown.py
**/python/system_tests.py
**/python/file_hooks.py

**/*.log
**/*.vcr
**/*.bak
**/*.tmp
**/*.vcast.bak
vc_scripts/**/*